:root{
    --theme-primary: #42BEB1;
    --theme-primary-dark: #146e65;
    --theme-red:#EF5151;
    --theme-dark: #5f5f60;
    --orange:#F5AB00;
    --text-grey:#707070;
    --text-dark-grey:#747474;
}

body{
    background-color: #f1f1f1;
}
